src/main/mule/reseller-mock-sfdc-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ec42a066-f800-4304-a74a-ed2c10d85e01" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="reseller-mock-target-apiFlow" doc:id="40cd1f6c-0a73-4845-8906-61adf093c602" >
		<http:listener doc:name="Listener" doc:id="1acdc04e-8523-490c-a32b-5f8504853a02" config-ref="HTTP_Listener_config" path="/mock" allowedMethods="POST"/>
		<ee:transform doc:name="payload" doc:id="7beb1e4b-ea54-4525-8fff-1ea569eb9dc9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eed1932a-49a5-474c-9074-19a636192186" message="New customer entered successfully!!!:::::::#[payload]"/>
	</flow>
</mule>
